@import "tailwindcss";

:root {
  --font-roboto: "Roboto", sans-serif;
}

* {
  font-family: var(--font-roboto), sans-serif;
}

button, input, select, textarea {
  font-family: inherit !important;
}

.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}